<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/layout1.html}">

<div layout:fragment="content">
    <h1>ex3.html</h1>
</div>

<script layout:fragment="script" th:inline="javascript">
    const arr = [[${arr}]]
</script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
      <h3>Sample Layout Header</h3>
  </div>

  <div layout:fragment="content=">
    <p>Page content goes here</p>
  </div>

  <div>
    <h3>Sample Layout Footer</h3>
  </div>

  <th:block layout:fragment="script">

  </th:block>

</body>
</html>